.navbar ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
}

.navbar ul li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Adjust spacing between menu items */
}

.navbar ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #000; /* Set link color */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    border: 2px solid #333;
}

