---
layout: base
---

<div class="intro-header"></div>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}
</main>

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="logo-transparent-png" type="image/png">
{% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=300&duration=3000&pause=800&color=C2FF00&width=435&lines=Hello+there!;Welcome+to+my+profile!;Thank+you+for+visiting!!" alt="Typing SVG" /></a>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
      <hr>
        {{ content }}
        <h3> Vibing to <img alt="Timer" width="30" src="https://emoji.discadia.com/emojis/981aeaad-564c-4642-9063-4ef3e7d090f4.gif"> <img alt="Timer" width="30" src="https://emoji.discadia.com/emojis/978d4b20-687b-49ae-ac6d-639705af765e.gif"> <img alt="Timer" width="30" src="https://emoji.discadia.com/emojis/981aeaad-564c-4642-9063-4ef3e7d090f4.gif">
 </h3>
   <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1B7wwunK6Iczs889qUBBys?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </section>
    </div>
  </body>
</html>

