<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>My Spotify Playlist</title>
</head>
<body>
	<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX3rxVfibe1L0?utm_source=generator" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	<script>
		let accessToken = "e3fbc424454547529b127828563d79ce";
		let playlistId = "37i9dQZF1DX3rxVfibe1L0";
		let url = `https://open.spotify.com/embed/playlist/37i9dQZF1DX3rxVfibe1L0?utm_source=generator`;
		fetch(url, {
			headers: {
				"Authorization": `Bearer ${accessToken}`
			}
		})
		.then(response => response.json())
		.then(data => {
			document.title = `My Spotify Playlist - ${data.name}`;
		});
	</script>
</body>
</html>
